!######################################
! X Settings
!######################################
!#Xft.dpi: 180.0
!#Xft.antialias: true
!#Xft.lcdfilter: lcddefault
!#Xft.hintstyle: hintslight
!#Xft.hinting: true
!#Xft.rgba: rgb
!#
!#urxvt.font:  xft:DejaVuSansMono:size=14

Xft.dpi: 220
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

Xcursor.size: 42

!! Rofi config
!! Keybindings
!rofi.key-run: SuperL-d
!rofi.key-window: SuperL-Tab
!
!! Variables
!rofi.terminal: gnome-terminal
!rofi.lines: 6
!rofi.eh: 2
!rofi.width: 60
!rofi.padding: 125
!rofi.opacity: 95
!rofi.bw: 3
!rofi.bc: #0288D1
!rofi.bg: #303030
!rofi.font: Helvetica Neue 18
!rofi.color-enabled: true
!
!! Colors
!rofi.color-enabled: true
!! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
!rofi.color-normal: #303030,  #CCCCCC,  #303030,  #303030,  #0288D1
!rofi.color-urgent: #303030,  #CCCCCC,  #303030,  #303030,  #29B6F6
!rofi.color-active: #303030,  #CCCCCC,  #303030,  #303030,  #0288D1
!
!!                  'background', 'border'
!rofi.color-window: #303030,      #0288D1
